<section class="bg-secondary text-light p-3"><i class="bi bi-people-fill me-1"></i>Doctor Dashboard</section>

<div class="bg-light d-flex justify-content-end mb-3" >
    <form>
        <div class="form-group p-3  d-flex">
            <input type="text" class="form-control me-2 " name="key" (input)="onSearch()" [(ngModel)]="key" placeholder="Search Doctors">
            <button class="btn btn-success " (click)="onSearch()">Search</button>
        </div>
    </form>
</div>

<div class="container">
    <div class="bg-warning p-2 h5">Doctors</div>
    <table class="table table-striped">
        <thead class="thead table-dark ">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Speciality</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let doc of doctors">
                <th scope="row">{{doc.doctorId}}</th>
                <td>{{doc.name}}</td>
                <td>{{doc.age}}</td>
                <td>{{doc.speciality}}</td>
                <td class="text-center"><a (click)="onDetails(doc.doctorId)" class="btn btn-sm btn-secondary ">Details</a></td>
            </tr>
        </tbody>
    </table>
</div>