
.overlay{
    align-items: center;
  
    
}

.description{
    left: 50%;
	position: absolute;
	top: 40%;
	transform: translate(-50%, -55%);
	text-align: center;
	text-shadow: 30px;
}
.description h1 {
	color: black;
    font-size: 60px;
}
.description p{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
.container{
    left: 50%;
	position: absolute;
	top: 65%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.btn {
    color: white;
}